.header {
    background-color: #f8f8f8;
    height: 60px;
    -webkit-position: sticky;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
  }
  @media (min-width: 1024px) {
    .header {
      height: 74px;
      margin-left: -16px;
    }
  }
  
  @media (min-width: 1440px) {
    .header {
      height: 94px;
    }
  }
  
  .header .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }
  
  .header a {
    margin-right: 2rem;
  }
  
  .header a img {
    width: 8rem;
    height: 100%;
    margin-left: 28px;
  }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    .header a img {
    margin-left: 0px;
    }
    .d .title {
      font-size: 36px !important;
    line-height: 44px !important;
      margin-bottom: 15px;
      
  }
  }
  
  .d.content2 {
    background: #004b54;
  }
  
  .d.content2 .d-container .title,
  .d.content2 .d-container .title2 {
    color: white;
  }
  
  .d {
    background-color: #f8f8f8;
    padding: 44px 0 60px;
    position: relative;
  }
  
  .d .title {
    padding-bottom: 1rem;
    margin-top: 70px;
  }
  
  .d .title2 {
    padding-bottom: 28px;
  }
  
  .d .title2 p {
    margin: 0;
  }
  
  @media (min-width: 1024px) {
    .d .title2 {
      padding-bottom: 1rem;
      margin-top: -54px;
    }
  }
  .t2 {
    font-size: 18px;
    line-height: 28px;
  }
  @media (min-width: 1024px) {
    .t2 {
      font-size: 16px;
      line-height: 60px;
    }
  }
  @media (min-width: 1440px) {
    .t2 {
      font-size: 22px;
      line-height: 34px;
    }
  }
  @media (min-width: 1440px) {
    .d .title2 {
      padding-bottom: 36px;
      font-size: 18px;
      line-height: 90px;
    }
  }
  
  .d.local-page-hero {
    padding-bottom: 0px;
  }
  
  .d.local-page-hero .d-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .d.local-page-hero .d-container .marker {
    display: none;
    padding: 0 9px;
    background-color: #efefef;
    font-weight: 700;
    margin-bottom: 25px;
  }
  
  .d.local-page-hero .d-container .local__image-root {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 -1rem;
    display: block;
    position: static;
    height: 300px;
  }
  
  .d.local-page-hero .d-container .local__image-root img {
    object-fit: cover;
    max-height: 100%;
  }
  
  .d.local-page-hero .d-container .basic__d-image.d-image,
  .d.local-page-hero .d-container .basicInverted__d-image.d-image {
    display: block;
  }
  
  @media (min-width: 1024px) {
    .d.local-page-hero .d-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      min-height: 700px;
    }
  
    .d.local-page-hero .d-container .marker {
      display: block;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  
    .d.local-page-hero .d-container .local__image-root {
      height: 100%;
      width: 49%;
      margin: 0;
      right: 0;
      top: 0;
      position: absolute;
    }
  
    .d.local-page-hero .d-container .local__image-root img {
      height: 100%;
    }
  }
  .d-container .d-image {
    display: none;
  }
  
  @media (min-width: 1024px) {
    .d-container {
      padding-bottom: 85px;
    }
  
    .d-container .d-image {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 90%;
      width: 42%;
    }
  
    .im {
      display: inline-block;
    }
  
    .im img {
      width: 100%;
      display: inline-block;
    }
    .d-container .d-image img {
      object-fit: cover;
      height: 100%;
    }
  
    .d-container .widget__d-image,
    .d-container .right-image {
      height: calc(100% + 53px);
    }
  }
  .h-1 {
    font-family: Frank Ruhl Libre, serif;
    font-size: 48px;
    line-height: 52px;
  }
  
  .widget {
    position: relative;
  }
  
  .widget .btn {
    width: 100%;
    color: #004b54;
    background-color: white;
    text-align: left;
    cursor: pointer;
    padding: 18px 30px;
    margin-bottom: 6px;
    border-radius: 0px;
  }
  
  .widget .btn:hover,
  .widget .btn:focus {
    background-color: #ffe33d;
  }
  
  @media (min-width: 1024px) {
    .widget .btn {
      height: 0;
      color: #004b54;
      width: 100%;
      padding: 0;
      padding-top: 100%;
      position: relative;
      text-align: center;
      border-radius: 0px;
    }
  }
  
  .widget .btn-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  
  .widget .btnlabel {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
  .widget .btn-content .btnlabel {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  button {
    border: none;
  }
  
  @media (min-width: 1024px) {
    .widget .btn-content {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  
  .widget .btn-icon {
    width: 60px;
    height: 40px;
    margin-right: 30px;
  }
  
  @media (min-width: 1024px) {
    .widget .btn-icon {
      margin-right: 0;
      width: 70px;
      height: 60px;
    }
  }
  
  @media (min-width: 1440px) {
    .widget .btn-icon {
      width: 100px;
      height: 66px;
    }
  }
  
  @media (min-width: 1024px) {
    .widget {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 0 -12px;
    }
  
    .widget .wrapper {
      padding: 0 12px;
    }
  
    .widget .caret {
      display: none;
    }
  }
  
  .widget .btnlabel {
    font-size: 22px;
    line-height: 32px;
    font-weight: 700;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  @media (min-width: 1024px) {
    .widget .btnlabel {
      font-size: 1rem;
      line-height: 28px;
      -webkit-box-flex: 0;
      -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      margin-top: 12px;
    }
  }
  
  @media (min-width: 1440px) {
    .widget .btnlabel {
      margin-top: 28px;
      font-size: 22px;
    }
  }
  .rating {
    padding-top: 1rem;
    width: 260px;
  }
  
  @media (min-width: 1024px) {
    .rating {
      width: 200px;
      padding-top: 1.25rem;
    }
  }
  .rating ul {
    margin: 0 -12px;
    list-style-type: none;
  }
  
  .rating ul li {
    padding: 0 12px;
  }
  .rat {
    padding-top: 1rem;
    width: 260px;
  }
  
  @media (min-width: 1024px) {
    .rat {
      width: 200px;
      padding-top: 1.25rem;
      margin-left: 33px;
      margin-top: -28px;
    }
  }
  
  @media (min-width: 1440px) {
    .rat {
      width: 260px;
    }
  }
  
  @media (min-width: 1920px) {
    .rat {
      width: 300px;
    }
  }
  .lim {
    height: 17px;
    width: 92px;
  }
  .rating ul li {
    padding: 0 12px;
  }
  
  @media (min-width: 1440px) {
    .rating {
      width: 260px;
    }
  }
  
  @media (min-width: 1920px) {
    .rating {
      width: 300px;
    }
  }
  .content2.white {
    background-color: white;
  }
  
  .content2.grey {
    background-color: #f8f8f8;
  }
  
  .content2 .title3 {
    padding-top: 120px;
    padding-bottom: 2rem;
  }
  
  @media (min-width: 1024px) {
    .content2 {
      margin-left: -16px;
      margin-right: -11px;
    }
    .content2 .title3 {
      padding-top: 140px;
    }
  }
  .h-2,
  .richtext-holder h2 {
    font-family: Frank Ruhl Libre, serif;
    font-size: 30px;
    line-height: 38px;
    color: #004b54;
    margin-top: 120px;
  }
  * {
    font-family: Roboto, sans-serif;
  }
  .t-align-center {
    text-align: center;
  }
  @media (min-width: 1024px) {
    .card-rte-holder h2,
    .h-2,
    .richtext-holder h2 {
      font-size: 44px;
      line-height: 56px;
    }
  }
  @media (min-width: 1440px) {
    .card-rte-holder h2,
    .h-2,
    .richtext-holder h2 {
      font-size: 62px;
      line-height: 76px;
    }
  }
  @media (min-width: 1024px) {
    .li-data {
      background: linear-gradient(
        to bottom,
        white,
        white 50%,
        #004b54 50%
      ) !important;
    }
  
    .li-data .lidiv {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 50%,
        #f8f8f8 50%
      ) !important;
    }
  
    .li-data .lidiv .cards {
      background-color: #f8f8f8;
    }
  
    .li-data:last-of-type {
      background: linear-gradient(
        to top,
        white,
        white 50%,
        #004b54 50%
      ) !important;
    }
  }
  .content2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .content2 ul .index {
    font-size: 28px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: left;
  }
  
  .content2 ul li {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 150px,
      #f8f8f8 150px
    );
    color: #004b54;
    -webkit-flex: 0 0 95%;
    -ms-flex: 0 0 95%;
    flex: 0 0 95%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0rem 1.5rem 4rem 1rem;
    scroll-snap-stop: always;
    scroll-snap-align: start;
  }
  
  .content2 ul li.left {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 150px,
      #004b54 150px
    );
    color: white;
  }
  
  @media (min-width: 1024px) {
    .content2 ul li.left {
      background: #004b54;
    }
  
    .content2 ul li.left img {
      width: auto;
      height: auto;
      max-height: 340px;
    }
  
    .content2 ul li.left .lidiv {
      background: none;
    }
  
    .content2 ul li.left .cards {
      background: none;
      color: white;
      padding-left: 0;
      padding-right: 120px;
    }
  }
  .pos {
    position: relative;
  }
  
  .content2 ul .imgs .image {
    height: 200px;
  }
  
  @media (min-width: 1024px) {
    .content2 ul {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  
    .content2 ul .lidiv {
      width: 100.4%;
    }
  
    .content2 ul .item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
    }
  
    .content2 ul li {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0;
    }
  
    .content2 ul .imgs {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  
    .content2 ul .imgs .image {
      height: auto;
    }
  
    .content2 ul .cards {
      width: 35.6667%;
      padding: 120px 0 120px 152px;
    }
  }
  
  @media (min-width: 1440px) {
    .content2 ul .cards {
      padding-left: 230px;
    }
  }
  
  @media (min-width: 1920px) {
    .content2 ul .cards {
      padding-left: 260px;
    }
  }
  
  @media (min-width: 1024px) {
    .content2 ul .card-text {
      max-width: 563px;
    }
  }
  
  @media (min-width: 1024px) {
    .content4 .imgs {
      padding-left: 0.5rem;
    }
  }
  
  @media (min-width: 1440px) {
    .content4 .imgs {
      padding-left: 1rem;
    }
  }
  .s-img {
    display: inline-block;
  }
  .o-fit-cover {
    object-fit: cover;
  }
  
  .s-img img {
    width: 100%;
    display: inline-block;
  }
  
  @media (min-width: 1024px) {
    .card-rte-holder h3,
    .h-3,
    .richtext-holder h3 {
      font-size: 26px;
      line-height: 36px;
    }
  }
  @media (min-width: 1440px) {
    .card-rte-holder h3,
    .h-3,
    .richtext-holder h3 {
      font-size: 36px;
      line-height: 48px;
    }
  }
  .txt {
    font-size: 16px;
    line-height: 28px;
  }
  @media (min-width: 1024px) {
    .txt {
      font-size: 14px;
      line-height: 24px;
    }
  }
  @media (min-width: 1440px) {
    .txt {
      font-size: 18px;
      line-height: 30px;
    }
  }
  @media (min-width: 1024px) {
    .right {
      background: linear-gradient(
        to bottom,
        white,
        white 50%,
        #004b54 50%
      ) !important;
    }
  
    .right .lidiv {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 50%,
        #f8f8f8 50%
      ) !important;
    }
  
    .right .lidiv .cards {
      background-color: #f8f8f8;
    }
  
    .right:last-of-type {
      background: linear-gradient(
        to top,
        white,
        white 50%,
        #004b54 50%
      ) !important;
    }
  }
  .content3 {
    padding-top: 70px;
  }
  
  @media (min-width: 1024px) {
    .content3 {
      padding-top: 80px;
    }
  }
  
  @media (min-width: 1440px) {
    .content3 {
      padding-top: 180px;
    }
  }
  
  .content3 .cardss {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  
  @media (min-width: 1024px) {
    .content3 .cardss {
      color: #004b54;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
    }
  }
  
  .content3 .cardss li {
    padding: -1px 1.5rem;
    text-align: center;
  }
  
  .content3 .top-info-holder {
    text-align: center;
  }
  .sli .title {
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0px;
    margin: 0;
  }
  
  @media (min-width: 1024px) {
    .sli .title {
      font-size: 110px;
      line-height: 160px;
    }
  }
  
  @media (min-width: 1440px) {
    .sli .title {
      font-size: 140px;
    }
  }
  
  .sli hr {
    border: 2px solid #fad705;
    background-color: #fad705;
    width: 80%;
    margin: 0px auto;
  }
  
  .sli .subTitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .content4 {
    padding-top: 110px;
    margin-bottom: 50px;
  }
  
  @media (min-width: 1024px) {
    .content4 {
      padding-top: 0px;
    }
  }
  
  .content4 h2 {
    padding: 0 1rem;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .content4 h2 {
      font-size: 36px;
      line-height: 42px;
      padding-bottom: 40px;
    }
    .footer {
      margin-left: -16px;
      margin-right: -16px;
      margin-bottom: -8px;
    }
  }
  
  @media (min-width: 1440px) {
    .content4 h2 {
      font-size: 62px;
      line-height: 72px;
    }
  }
  
  .content4 .rater {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
  }
  
  @media (min-width: 1024px) {
    .content4 .raterli {
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      padding: 0 12px;
    }
  }
  
  .content4 .raters {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    margin-top: -28px;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  .content4 .raters .rater {
    background-color: #f8f8f8;
    background: linear-gradient(to bottom, white, white 100px, #f8f8f8 100px);
    color: #004b54;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem 0.5rem 4rem 1rem;
    scroll-snap-stop: always;
    scroll-snap-align: start;
  }
  
  .content4 .raters .rater.no-image {
    background: #f8f8f8;
  }
  
  .content4 .raters h3 {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
  }
  
  @media (min-width: 1280px) {
    .content4 .raters h3 {
      font-size: 22px;
      line-height: 32px;
    }
  }
  
  @media (min-width: 1024px) {
    .content4 .imgs {
      padding-left: 0.5rem;
    }
  }
  
  @media (min-width: 1440px) {
    .content4 .imgs {
      padding-left: 1rem;
    }
  }
  
  .content4 .cmnt {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.01em;
  }
  
  .content4 .rater-image {
    width: 75%;
    height: auto;
    height: 190px;
    padding-bottom: 1.5rem;
  }
  
  .content4 .rater-image img {
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: cover;
  }
  
  @media (min-width: 1024px) {
    .content4 .rater-image {
      padding-bottom: 30px;
      height: auto;
    }
  }
  
  @media (min-width: 1440px) {
    .content4 .rater-image {
      padding-bottom: 44px;
    }
  }
  
  .content4 .rater-rating {
    width: 120px;
    height: 24px;
    display: inline-block;
    margin: 10px 0 20px;
  }
  
  .content4 .rater-cmnter {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding-top: 18px;
    text-align: right;
  }
  
  .content4 .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-top: 24px;
    margin: 0;
  }
  
  @media (min-width: 1440px) {
    .content4 .brand {
      padding-top: 45px;
    }
  }
  
  .content4 .brand li:first-of-type {
    margin-right: 24px;
  }
  
  .content4 .brand li {
    width: 144px;
  }
  
  .content4 .brand img {
    max-width: 100%;
  }
  
  @media (min-width: 768px) {
    .content4 .brand img {
      max-width: unset;
    }
  }
  .footer .info {
    background-color: white;
    width: 100%;
    padding: 60px 1rem;
    margin: 0 auto;
    color: #004b54;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
  }
  
  @media (min-width: 1024px) {
    .footer .info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 5rem 40px;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  
    .footer .info section {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }
  }
  
  @media (min-width: 1440px) {
    .footer .info {
      padding: 5rem 0;
    }
  }
  .footer .info a {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .info h3 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 24px;
    font-weight: bold;
  }
  
  .footer .info div {
    padding-bottom: 28px;
  }
  
  .footer .rat {
    padding-top: 1.5rem;
    width: 260px;
  }
  
  @media (min-width: 1024px) {
    .footer .rat {
      width: 200px;
      padding-top: 2rem;
    }
  }
  
  @media (min-width: 1440px) {
    .footer .rat {
      width: 260px;
    }
  }
  
  @media (min-width: 1920px) {
    .footer .rat {
      width: 300px;
    }
  }
  .foot {
    background-color: #f8f8f8;
    color: #004b54;
  }
  
  @media (min-width: 1024px) {
    .foot {
      background-color: #004b54;
      color: white;
    }
  }
  
  .foot .flinks {
    display: -webkit-box;
    display: -webkit-flex;
   
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
  }
  
  @media (min-width: 1024px) {
    .foot .flinks {
      -webkit-flex-direction: row;
     
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    .raters .container{
      justify-content: center !important;
    align-items: center !important;    }
  }
  
  .foot a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-right: 1.5rem;
  }
  
  .foot ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .foot ul,
  .foot .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  
  .foot .copyright {
    padding-top: 34px;
  }
  
  @media (min-width: 1024px) {
    .foot .copyright {
      padding-top: 0;
      margin-right: 40px;
    }
  }
  /* @media (max-width: 360px) {
    .content {
      font-family: Inter, sans-serif;
      font-style: normal;
      margin-right: -16px;
      margin-left: -16px;
      letter-spacing: 0;
    }
    .h-1 {
      font-family: Frank Ruhl Libre, serif;
      font-size: 34px;
      line-height: 42px;
    }
    .d .title2 {
      margin-top: -26px;
      padding-bottom: 28px;
    }
    .h-3 {
      font-size: 24px;
    }
    
  } */
  
  @media (min-width: 360px) {
    .content .col-sm-12 {
      flex: 0 0 100% ;
      max-width: 100% ;
    }
  }
  @media (max-width: 600px) {
    .content .col-sm-12 {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
  .content4 .raters {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-left: 10px;
    scroll-snap-type: x mandatory;
  }
  .content4 .raterli {
    display: flex;
    flex: 0 0 90%;
    margin-right: -25px;
  }
  /* ----------------------------------------------------------------------------- */
  .content .container,
  .content .container-sm {
    margin: 0px 0px 0px 0px;
  }
  .content .container,
  .content .container-d,
  .content .container-dl,
  .content .container-hd,
  .content .container-tl {
   
    max-width: 98%;
  }
  .content .container-d .container,
  .content .container-dl .container,
  .content .container-hd .container,
  .content .container-tl .container,
  .content .container .container {
    padding: 0;
  }
  @media (min-width: 1024px) {
    .raters {
      align-items: center;
      justify-content: center;
    }
  }
  @media (min-width: 1440px) {
    .content .container,
    .content .container-d,
    .content .container-dl,
    .content .container-tl {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      max-width: 1360px;
     
    }
  
  }
  @media (min-width: 1920px) {
    .content .container-d,
    .content .container-dl,
    .content .container-hd,
    .content .container-tl {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
      max-width: 1560px;
    }
  }
  @media (min-width: 0px) {
    .content .col-sm-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .content .col-sm-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .content .col-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .content .col-sm-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .content .col-sm-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .content .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .content .col-sm-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .content .col-sm-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .content .col-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .content .col-sm-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .content .col-sm-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .content .col-sm-12 {
      flex: 0 0 153%;
      max-width: 123%;
    }
  }
  @media (min-width: 768px) {
    .content .col-t-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .content .col-t-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .content .col-t-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .content .col-t-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .content .col-t-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .content .col-t-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .content .col-t-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .content .col-t-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .content .col-t-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .content .col-t-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .content .col-t-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .content .col-t-12 {
      flex: 0 0 100% ;
      max-width: 100%;
    }
  }
  @media (min-width: 1024px) {
    .content .col-tl-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .content .col-tl-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .content .col-tl-3 {
      flex: 0 0 25%;
      max-width: 21%;
    }
    .content .col-tl-4 {
      flex: 0 0 33.3333333333%;
      max-width: 31.4%;
      max-width: 31.4%;
    }
    .content .col-tl-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .content .col-tl-6 {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 15px;
      margin-left: 16px;
    }
    .content .col-tl-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .content .col-tl-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
      margin-left: 33px;
    }
    .content .col-tl-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .content .col-tl-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .content .col-tl-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .content .col-tl-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 1280px) {
    .content .col-d-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .content .col-d-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .content .col-d-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .content .col-d-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .content .col-d-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .content .col-d-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .content .col-d-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .content .col-d-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .content .col-d-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .content .col-d-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .content .col-d-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .content .col-d-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 1440px) {
    .content .col-dl-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .content .col-dl-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .content .col-dl-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .content .col-dl-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .content .col-dl-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .content .col-dl-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .content .col-dl-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .content .col-dl-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .content .col-dl-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .content .col-dl-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .content .col-dl-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .content .col-dl-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 1920px) {
    .content .col-hd-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .content .col-hd-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .content .col-hd-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .content .col-hd-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .content .col-hd-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .content .col-hd-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .content .col-hd-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .content .col-hd-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .content .col-hd-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .content .col-hd-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .content .col-hd-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .content .col-hd-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 0px) {
    .content .offset-sm-0 {
      margin-left: 0;
    }
    .content .offset-sm-1 {
      margin-left: 8.3333333333%;
    }
    .content .offset-sm-2 {
      margin-left: 16.6666666667%;
    }
    .content .offset-sm-3 {
      margin-left: 25%;
    }
    .content .offset-sm-4 {
      margin-left: 33.3333333333%;
    }
    .content .offset-sm-5 {
      margin-left: 41.6666666667%;
    }
    .content .offset-sm-6 {
      margin-left: 50%;
    }
    .content .offset-sm-7 {
      margin-left: 58.3333333333%;
    }
    .content .offset-sm-8 {
      margin-left: 66.6666666667%;
    }
    .content .offset-sm-9 {
      margin-left: 75%;
    }
    .content .offset-sm-10 {
      margin-left: 83.3333333333%;
    }
    .content .offset-sm-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media (min-width: 768px) {
    .content .offset-t-0 {
      margin-left: 0;
    }
    .content .offset-t-1 {
      margin-left: 8.3333333333%;
    }
    .content .offset-t-2 {
      margin-left: 16.6666666667%;
    }
    .content .offset-t-3 {
      margin-left: 25%;
    }
    .content .offset-t-4 {
      margin-left: 33.3333333333%;
    }
    .content .offset-t-5 {
      margin-left: 41.6666666667%;
    }
    .content .offset-t-6 {
      margin-left: 50%;
    }
    .content .offset-t-7 {
      margin-left: 58.3333333333%;
    }
    .content .offset-t-8 {
      margin-left: 66.6666666667%;
    }
    .content .offset-t-9 {
      margin-left: 75%;
    }
    .content .offset-t-10 {
      margin-left: 83.3333333333%;
    }
    .content .offset-t-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media (min-width: 1024px) {
    .content .offset-tl-0 {
      margin-left: 0;
    }
    .content .offset-tl-1 {
      margin-left: 8.3333333333%;
    }
    .content .offset-tl-2 {
      margin-left: 16.6666666667%;
    }
    .content .offset-tl-3 {
      margin-left: 25%;
    }
    .content .offset-tl-4 {
      margin-left: 34.333333%;
    }
    .content .offset-tl-5 {
      margin-left: 41.6666666667%;
    }
    .content .offset-tl-6 {
      margin-left: 50%;
    }
    .content .offset-tl-7 {
      margin-left: 58.3333333333%;
    }
    .content .offset-tl-8 {
      margin-left: 66.6666666667%;
    }
    .content .offset-tl-9 {
      margin-left: 75%;
    }
    .content .offset-tl-10 {
      margin-left: 83.3333333333%;
    }
    .content .offset-tl-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media (min-width: 1280px) {
    .content .offset-d-0 {
      margin-left: 0;
    }
    .content .offset-d-1 {
      margin-left: 8.3333333333%;
    }
    .content .offset-d-2 {
      margin-left: 16.6666666667%;
    }
    .content .offset-d-3 {
      margin-left: 25%;
    }
    .content .offset-d-4 {
      margin-left: 33.3333333333%;
    }
    .content .offset-d-5 {
      margin-left: 41.6666666667%;
    }
    .content .offset-d-6 {
      margin-left: 50%;
    }
    .content .offset-d-7 {
      margin-left: 58.3333333333%;
    }
    .content .offset-d-8 {
      margin-left: 66.6666666667%;
    }
    .content .offset-d-9 {
      margin-left: 75%;
    }
    .content .offset-d-10 {
      margin-left: 83.3333333333%;
    }
    .content .offset-d-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media (min-width: 1440px) {
    .content .offset-dl-0 {
      margin-left: 0;
    }
    .content .offset-dl-1 {
      margin-left: 8.3333333333%;
    }
    .content .offset-dl-2 {
      margin-left: 16.6666666667%;
    }
    .content .offset-dl-3 {
      margin-left: 25%;
    }
    .content .offset-dl-4 {
      margin-left: 33.3333333333%;
    }
    .content .offset-dl-5 {
      margin-left: 41.6666666667%;
    }
    .content .offset-dl-6 {
      margin-left: 50%;
    }
    .content .offset-dl-7 {
      margin-left: 58.3333333333%;
    }
    .content .offset-dl-8 {
      margin-left: 66.6666666667%;
    }
    .content .offset-dl-9 {
      margin-left: 75%;
    }
    .content .offset-dl-10 {
      margin-left: 83.3333333333%;
    }
    .content .offset-dl-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media (min-width: 1920px) {
    .content .offset-hd-0 {
      margin-left: 0;
    }
    .content .offset-hd-1 {
      margin-left: 8.3333333333%;
    }
    .content .offset-hd-2 {
      margin-left: 16.6666666667%;
    }
    .content .offset-hd-3 {
      margin-left: 25%;
    }
    .content .offset-hd-4 {
      margin-left: 33.3333333333%;
    }
    .content .offset-hd-5 {
      margin-left: 41.6666666667%;
    }
    .content .offset-hd-6 {
      margin-left: 50%;
    }
    .content .offset-hd-7 {
      margin-left: 58.3333333333%;
    }
    .content .offset-hd-8 {
      margin-left: 66.6666666667%;
    }
    .content .offset-hd-9 {
      margin-left: 75%;
    }
    .content .offset-hd-10 {
      margin-left: 83.3333333333%;
    }
    .content .offset-hd-11 {
      margin-left: 91.6666666667%;
    }
  }
  .content .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .content {
    font-family: Inter, sans-serif;
    font-style: normal;
    letter-spacing: 0;
  }
  