@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.form {
  margin: auto;
  width: 100%;
  text-align: center;
}

/* input,
select {
  text-align: left;
  padding: 0.3rem 0.4rem;
  margin: 0.5rem 0 0.5rem 0.8rem;
  border: 1px solid #a4a4a4;
  color: #a2a2a2;
  width: 50%;
} */

select {
  background-color: transparent;
  padding: 0.3rem 0.8rem;
  margin: 0.5rem 0 0.5rem 0.8rem;
  border: 1px solid #a4a4a4;
  color: #a2a2a2;
  height: 2rem;
}

.imageCover {
  margin: 10px 0 10px 0;
  max-width: 150px;
  height: auto;
}

.text_form {
  font-size: 20px;
  color: rgb(0, 75, 84) !important;
  max-width: 100%;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
    line-height: 32px;
    white-space: pre-line;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .text_form {
    line-height: 27px;
    font-size: 17px;
  }
  .form {
   
  }
 
  .btn-primary {
    width: 300px !important;
  height: 50px !important;
  text-align: left;
    margin-bottom: 10px;
  }

}
.btn-primary {
  color:#024B54;
  background-color: white;
  border: none;
  
  border-radius: 0px;
  font-size: x-large;
  margin-left: 10px;
  box-shadow: rgb(0 0 0 / 16%) 5px 5px 20px;
  text-decoration: #024B54;
  font-size: 16px;
  width: 150px;
  height: 350px;
}
.btn-primary:hover {
  color: white;
  background-color: #FAD705 !important;
}
.btn-primary:active:focus {
  color: white;
  background-color: #FAD705 !important;
  box-shadow: none;
}
.btn_container {
  margin-top: 45px;
  margin-bottom: 45px;
  display: block;
}

@media only screen and (max-width: 600px) {
  .btn_container {
    margin-top: 45px;
    margin-bottom: 45px;
    display: flex;
  }
}

.align_btn {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  line-height: 10px;
  display: inline-flex;
  vertical-align: middle;
}
.text_form_step_2 {
  font-size: 20px;
  color: #000000;
  line-height: 35px;
  margin-top: 35px;
}
.text_form_step_3 {
  font-size: 16px;
  color: #000000;
  line-height: 35px;
  margin-top: 35px;
}

.progress {
  width: 300px;
  height: 0.55rem;
  background-color: white;
}
.progress-bar {
  background-color: #577b0a !important;
}
.progress_align {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
.progress_bar_container {
  margin-top: 75px;
  margin-bottom: 45px;
  display: block;
}

select {
  background-color: white;
  /* padding: 2px; */
  border-radius: 6px;
}

.select_day {
  height: 45px;
}
.select_year {
  height: 45px;
}
.select_month {
  height: 45px;
  width: 160px;
}
.select_main {
  margin-right: 25px;
  margin-bottom: 25px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .select_month {
    width: 135px;
  }
  .select_main {
    margin-right: 15px;
  }
}

form {
 
}
.form-control {
  height: 50px;
  border-radius: 0.25rem;
}
.form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0.2rem;
  margin-left: -1.75rem;
}
input:checked label::after {
  background-color: #577b0a !important ;
}
.btn-last {
  line-height: 25px;
}
.btn_text {
  font-size: 15px;
}

.animation {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.animation_size_one{
  width: 150px;
  margin-left: 40px;
}
.animation_size_two{
  width: 150px;
}

.image_animation{
   width: 80px; 
   margin-top: -5px
}

.animation_desciption{
  margin-left: 60px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .animation_size_one{
    width: 90px;
  }
  .animation_size_two{
    width: 90px;
  }
  .image_animation{
    width: 60px; 
    margin-top: -5px
 }
 .animation {
   margin-right: 35px;
 }
 .animation_desciption{
  margin-left: 28px;
}
}

.btn-img{
  display: block;
  height: 64px;
  max-width: 100%;
  margin-left: 30px;
  margin-bottom: 5px;
}

.btn_container_slider{
  box-shadow: rgb(0 0 0 / 16%) 5px 5px 20px;
  height: 350px;

  margin-left: 35px;
  margin-right: 35px;
}
.Row_MultiStep{
 display: flex;
 padding-top:25px;
}
.btn_container_slider_mobile{
  display: none;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .btn_container_slider{
    display: none;
  }
 
  .btn_container_slider_mobile{
    display: grid;
    margin-left: 10%;
    width: 100%;
  }
  .map-img{
    margin-left: -45px;
  }
  .map-text{
    width: 100% !important;
  }
  .input_map{
    width: 70% !important;
    margin-left: 11%;
    margin-top: 20px;
  } 
}